/* Dark Theme CSS */
/* todo: this CSS needs styled to be dark theme */
/* todo: go through and check for any redundant rules */
/* todo: once dark theme css complete, copy to light theme css and invert */

/* *-------------------- Fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* *-------------------- Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* *-------------------- Universals */

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #ffff00;
  background-color: #6c757d;
}

a {
  color: #ffff00;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

a:hover {
  color: #282b13;
  text-decoration: none;
}

/* *-------------------- Header */
header {
  /* height: 118px; */
  /* height: 10rem; */
  position: fixed;
  background-color: #6c757d;
}

/* * Bootstrap rule to keep header element at top of viewport */
.fixed-top {
  position: fixed;
}

/* *-------------------- Theme Toggle */
/* todo: look at changing this to slider or headlights logo? */
/* todo: Can I remove/edit the focus and focus-visited rules? */

/* Toggle button classes  */

/* Toggle button  */
.btn-toggle-theme {
  background-color: #ffff00;
  border: solid #282b13 2px;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 5px;
}

/* Toggle button label  */
.btn-toggle-theme a {
  color: #282b13;
  text-decoration: none;
}

/* Toggle button hover  */
.btn-toggle-theme:hover {
  background-color: #6c757d;
  border: solid #ffff00 2px;
  border-radius: 25px;
  padding: 5px 15px;
}

/* Toggle button label hover  */
.btn-toggle-theme a:hover {
  color: #ffff00;
  text-decoration: none;
}

/* *-------------------- Underline */

/* Title underline */
hr {
  border-top: 1px solid #ffff00;
  padding: 0;
  margin: 0;
}

/* *-------------------- Navigation */

.nav-item {
  text-align: right;
  background-color: #6c757d;
}

/* *-------------------- Sections */
.section-wrapper {
  /* margin-top: 158px; */
  /* margin-top: 9rem; */
  height: 100vh;
}

/* todo: media queries to change padding on landscape modes */
.section {
  height: 100%;
  padding-top: 5px;
}

.section-text {
  padding: 10px;
}

/* *-------------------- What Section */
/* todo: work on image heights */
.what-image {
  background: url("../images/ford-mustang.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: fit-content;
}

/* *-------------------- When Section */
/* todo: needs a different image */
.when-image {
  background: url("../images/fiat-abarth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: fit-content;
}

/* *-------------------- Where Section */

/* *-------------------- Map */
/* todo: make map responsive */
.map {
  min-height: 300px;
  color: #282b13;
}

/* *-------------------- Footer */

footer {
  background-color: #6c757d;
}

.footer-text {
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #ffff00;
  text-decoration: none;
}

/* * Font Awesome Icon Styling */
footer i {
  color: #ffff00;
  margin: 0 7px;
}

.contact-link a i,
.talk {
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.contact-link a i:hover,
.talk:hover {
  color: #282b13;
}

.social-links {
  margin-bottom: 0;
}

.social-links li a i {
  padding: 5px;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #282b13;
}

/* *-------------------- Media Queries */

/* * Mobile - xs */
@media screen and (max-width: 575.98px) {
  /* *-------------------- Map */
  /* todo: make map responsive */
  .map {
    min-height: 300px;
    color: #282b13;
  }
}

/* * Landscape - sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* *-------------------- Map */
  /* todo: make map responsive */
  .map {
    min-height: 200px;
    color: #282b13;
  }
}

/* * Tablet - md */
@media screen and (min-width: 768px) {
  /* *-------------------- Map */
  /* todo: make map responsive */
  .map {
    min-height: 400px;
    color: #282b13;
  }
}

/* * Mobile landscape - md */
@media screen and (min-width: 812px) {
  /* *-------------------- Map */
  /* todo: make map responsive */
  .map {
    min-height: 200px;
    min-width: 500px;
    color: #282b13;
  }

  /* todo: this is where i am working just now */
  .what-image {
    background: url("../images/ford-mustang.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    max-height: 500px;
  }
  .when-image {
    background: url("../images/fiat-abarth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    max-height: 500px;
  }
}

/* * Desktop - lg */
@media screen and (min-width: 992px) {
  /* *-------------------- Map */
  /* todo: make map responsive */
  .map {
    min-height: 600px;
    min-width: 800px;
    color: #282b13;
  }
}
