/* *-------------------- Light Theme CSS */

/* *-------------------- Fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* *-------------------- Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* *-------------------- Universals */

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #6c757d;
  background-color: #ffff00;
}

a {
  color: #6c757d;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

a:hover {
  color: #282b13;
  text-decoration: none;
}

/* *-------------------- Header */

header {
  position: fixed;
  background-color: #ffff00;
}

/* * Bootstrap rule to keep header element at top of viewport */
.fixed-top {
  position: fixed;
}

/* *-------------------- Theme Toggle */

/* *Toggle button classes  */

/* *Toggle button  */
.btn-toggle-theme {
  background-color: #6c757d;
  border: solid #282b13 2px;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 5px;
}

/* *Toggle button label  */
.btn-toggle-theme span {
  color: #ffff00;
  text-decoration: none;
}

/* *Toggle button hover  */
.btn-toggle-theme:hover {
  background-color: #ffff00;
  border: solid 2px;
  border-radius: 25px;
  padding: 5px 15px;
}

/* *Toggle button label hover  */
.btn-toggle-theme span:hover {
  color: #6c757d;
  text-decoration: none;
}

/* *-------------------- Logo */

.logo {
  border-bottom: 1px solid #6c757d;
}

/* *-------------------- Navigation */

.nav-item {
  text-align: right;
  background-color: #ffff00;
}

/* *-------------------- Custom Nav styling */
.custom-toggler.navbar-toggler {
  border-color: #6c757d;
  color: #6c757d;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(108,117,125, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* *-------------------- Sections */

.section-wrapper {
  height: 100vh;
}

.section {
  height: 100%;
  padding-top: 5px;
}

.section-text {
  padding: 10px;
}

/* *-------------------- What Section */

.what-image {
  background: url("../images/ford-mustang.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: fit-content;
}

/* *-------------------- When Section */

.when-image {
  background: url("../images/fiat-abarth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: fit-content;
}

/* *-------------------- Where Section */

/* *-------------------- Map */

.map {
  min-height: 300px;
  color: #282b13;
}

/* *-------------------- Footer */

footer {
  background-color: #ffff00;
}

.footer-text {
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #6c757d;
  text-decoration: none;
}

/* * Font Awesome Icon Styling */
footer i {
  color: #6c757d;
  margin: 0 7px;
}

.contact-link a i,
.talk {
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.contact-link a i:hover,
.talk:hover {
  color: #282b13;
}

.social-links {
  margin-bottom: 0;
}

.social-links li a i {
  padding: 5px;
  transition: color 0.35s ease-in-out;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #282b13;
}

/* *-------------------- Media Queries */

/* * Mobile - xs */
@media screen and (max-width: 575.98px) {
  .map {
    min-height: 300px;
    color: #282b13;
  }
}

/* * Landscape - sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .map {
    min-height: 200px;
    color: #282b13;
  }
  .what-image {
    background: url("../images/ford-mustang.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    max-height: 500px;
  }
  .when-image {
    background: url("../images/fiat-abarth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    max-height: 500px;
  }
}

/* * Tablet - md */
@media screen and (min-width: 768px) {
  .map {
    min-height: 400px;
    color: #282b13;
  }
  .what-image {
    max-height: 500px;
  }
  .when-image {
    max-height: 500px;
  }
  .section {
    /* height: 100%; */
    padding: 50px;
  }
  header {
    padding-left: 50px;
  }
  .section-text {
    font-size: 1.2rem;
  }
}

/* * Mobile landscape - md */
@media screen and (min-width: 812px) {
  .map {
    min-height: 200px;
    min-width: 500px;
    color: #282b13;
  }

  .what-image {
    max-height: 500px;
  }
  .when-image {
    max-height: 500px;
  }
}

/* * Desktop - lg */
@media screen and (min-width: 992px) {
  .map {
    min-height: 600px;
    min-width: 800px;
    color: #282b13;
  }
  .section {
    /* height: 100%; */
    padding: 100px;
  }
  header {
    padding: 0 120px 0 100px;
  }
  .section-text {
    font-size: 1.5rem;
  }
}
